<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>

        <form
          (ngSubmit)="addIncomeOrExpense()"
          [formGroup]="incomeExpensesForm"
        >
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              name="descripcion"
              formControlName="description"
            />
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              type="number"
              class="form-control"
              placeholder="Monto"
              name="monto"
              formControlName="amount"
            />
            <p>
              Debe de ser un monto positivo
            </p>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="customRadioInline1"
              class="custom-control-input"
              formControlName="type"
              value="Income"
            />
            <label class="custom-control-label" for="customRadioInline1"
              >Income</label
            >
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="customRadioInline2"
              class="custom-control-input"
              formControlName="type"
              value="Expense"
            />
            <label class="custom-control-label" for="customRadioInline2"
              >Expense</label
            >
          </div>

          <hr />
          <button
            [disabled]="incomeExpensesForm.invalid"
            type="submit"
            class="btn btn-success mr-2"
          >
            <i class="fa fa-save"></i>
            Agregar
          </button>

          <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->

          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
