<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.description }}</td>
              <td>{{ item.amount }}</td>
              <td
                [ngClass]="{
                  income: item.type === 'Income',
                  expense: item.type === 'Expense'
                }"
              >
                {{ item.type }}
              </td>
              <td><button class="btn btn-danger">delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
